.vh-100 {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url("https://www.toshiba-energy.com/thermal/image/03-03-sl01-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: contain;
}
