<div class="row justify-content-center vh-100 m-0">
        <div class="col-md-4 my-auto">
            <div class="card card-profile">
                <div class="card-avatar">
                    <a href="javascript:void(0)">
                        <img class="img" src="./assets/img/ecg-logo-min.png" />
                    </a>
                </div>
                <div class="card-body">
                    <div class="card-title">
                        <div class="h2 font-weight-bold">
                            Admin Panel
                        </div>
                    </div>
                    <div class="row p-3">
                        <div class="col-md-12">
                          <mat-form-field class="w-75 mx-auto">
                            <input matInput placeholder="Email" type="text">
                          </mat-form-field>
                        </div>
                    </div>
    
                    <div class="row p-3">
                        <div class="col-md-12">
                          <mat-form-field class="w-75 mx-auto">
                            <input matInput placeholder="Password" type="text">
                          </mat-form-field>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <a href="javascript:void(0)" class="btn btn-link btn-info">Forgot Password?</a>
                    </div>
    
                    <a href="javascript:void(0)" class="btn btn-danger btn-round">Login</a>
                </div>
            </div>
        </div>  
</div>