<div class="main-content">
    <div class="content-fluid">
        <div class="row">
            <div class="col text-right">
                <button class="btn btn-danger rounded mr-3">Add User <i class="material-icons">add</i></button>
            </div>
            <div class="col-md-12">
                <div class="col col-md-4 d-flex no-overflow">

                    <div class="card col-6 col-sm-12 mr-1">
                        <div class="card-body">
                            <div class="p-1 d-flex justify-content-between">
                                <img class="rounded-circle m-2 shadow" width="70px" height="70px" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg" data-holder-rendered="true">

                                <div class="p-0">
                                    <p class="h6">Rebecca Fox</p>
                                    <p class="text-muted">@rebecca</p>
                                    <p class="font-weight-bold">CEO</p>
                                </div>

                                <div class="col text-right">
                                        <p id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="material-icons">more_vert</i>
                                        </p>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                            <a class="dropdown-item" href="javascript:void(0)">Mike John responded to your email</a>
                                            <a class="dropdown-item" href="javascript:void(0)">You have 5 new tasks</a>
                                            <a class="dropdown-item" href="javascript:void(0)">You're now friend with Andrew</a>
                                            <a class="dropdown-item" href="javascript:void(0)">Another Notification</a>
                                            <a class="dropdown-item" href="javascript:void(0)">Another One</a>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="card col-6 col-sm-12 mr-1">
                        <div class="card-body">
                            <div class="p-1 d-flex justify-content-between">
                                <img class="rounded-circle m-2 shadow" width="70px" height="70px" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg" data-holder-rendered="true">

                                <div class="p-0">
                                    <p class="h6">Rebecca Fox</p>
                                    <p class="text-muted">@rebecca</p>
                                    <p class="font-weight-bold">CEO</p>
                                </div>

                                <div class="col text-right">
                                        <p id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="material-icons">more_vert</i>
                                        </p>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                            <a class="dropdown-item" href="javascript:void(0)">Mike John responded to your email</a>
                                            <a class="dropdown-item" href="javascript:void(0)">You have 5 new tasks</a>
                                            <a class="dropdown-item" href="javascript:void(0)">You're now friend with Andrew</a>
                                            <a class="dropdown-item" href="javascript:void(0)">Another Notification</a>
                                            <a class="dropdown-item" href="javascript:void(0)">Another One</a>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card col-6 col-sm-12 mr-1">
                        <div class="card-body">
                            <div class="p-1 d-flex justify-content-between">
                                <img class="rounded-circle m-2 shadow" width="70px" height="70px" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg" data-holder-rendered="true">

                                <div class="p-0">
                                    <p class="h6">Rebecca Fox</p>
                                    <p class="text-muted">@rebecca</p>
                                    <p class="font-weight-bold">CEO</p>
                                </div>

                                <div class="col text-right">
                                        <p id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="material-icons">more_vert</i>
                                        </p>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                            <a class="dropdown-item" href="javascript:void(0)">Mike John responded to your email</a>
                                            <a class="dropdown-item" href="javascript:void(0)">You have 5 new tasks</a>
                                            <a class="dropdown-item" href="javascript:void(0)">You're now friend with Andrew</a>
                                            <a class="dropdown-item" href="javascript:void(0)">Another Notification</a>
                                            <a class="dropdown-item" href="javascript:void(0)">Another One</a>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>